<!DOCTYPE html>
{{/* Multilang support for lang attribute */}}
<html lang="{{ site.Language.LanguageCode }}" dir="{{ site.Language.LanguageDirection }}" prefix="og: https://ogp.me/ns#{{ if in .Site.Params.mainSections .Type }} article: https://ogp.me/ns/article#{{ end }} profile: https://ogp.me/ns/profile#" class="h-feed">
{{ partial "head.html" . }}

<body>
  <!-- BGN: YourOnly.One Body-01-Top -->
    {{- if templates.Exists "partials/youronly.one-body-01-top.html" -}}
      {{ partial "youronly.one-body-01-top.html" . }}
    {{- end }}
  <!-- END: YourOnly.One Body-01-Top -->
  <article class="{{ .Site.Language.LanguageName }}" id="article">
    <div class="row">
      <div class="h-entry post col-xs-12" data-clarity-region="article">
        <div class="site-header">
          {{ partial "header.html" . }}
        </div>
        <header class="post-header">
          <h1 class="p-name post-title">{{ .Title }}</h1>
          {{- /* YourOnly.One: not needed
            {{ if in .Site.Params.mainSections .Type }}
              <div class="row post-desc">
                <div class="col-xs-6">
                  {{ if .PublishDate }}
                  <time class="post-date" datetime="{{ .PublishDate.Format "2006-01-02 15:04:05 MST" }}">
                    {{ .PublishDate.Format "02 Jan 2006" }}
                  </time>
                  {{ end }}
                </div>
                <div class="col-xs-6">
                  {{ if .Site.Params.author.name }}
                  <div class="post-author">
                    <a target="_blank" href="{{ .Site.Params.author.homepage }}">@{{ .Site.Params.author.name }}</a>
                  </div>
                  {{ end }}
                </div>
              </div>
            {{ end }}
          */ -}}
        </header>

        <div class="e-content post-content markdown-body">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
          {{ with .Params.syndication }}
            {{ partial "syndication.html" . }}
          {{ end }}
        </div>

        <div class="row middle-xs">
          <div class="col-xs-12">
            {{ range .Params.categories }}
            <div class="post-category">
              <a href="{{ site.LanguagePrefix }}/categories/{{ lower . }}/" class="p-category" rel="category">
                {{ . }}
              </a>
            </div>
            {{ end }}
          </div>
        </div>
        {{ if in .Site.Params.mainSections .Type }}
          <div class="row">
            <div class="col-xs-12">
              {{ .Site.Params.postFooterContent | safeHTML }}
            </div>
          </div>

          {{ partial "related.html" . }}

          {{ if .Site.Params.postAds }}
          <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
          {{ end }}
          <!-- split -->
          <div class="singlesplit"></div>
          {{- /* YourOnlyOne: not needed for this site
          <div class="post-comments">
            {{ template "_internal/webmention.html" . }}
            <div id="webmentions"></div>
          </div>
          */ -}}
          {{ if .Site.Params.disqus }}
          <div class="post-comments">
            {{ partial "disqus.html" . }}
          </div>
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}

</body>

</html>
