<!doctype html>
{{/* Multilang support for lang attribute */}}
<html class="h-feed no-js" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ site.Language.LanguageDirection }}" prefix="schema: http://schema.org/ v: http://rdf.data-vocabulary.org/# vcard: http://www.w3.org/2006/vcard/ns# foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns#{{ if in .Site.Params.mainTypes .Type }} article: https://ogp.me/ns/article#{{ end }} cc: http://creativecommons.org/ns#">
{{ partial "head.html" . }}

<body>
  <!-- BGN: YourOnly.One Body-01-Top -->
    {{- if templates.Exists "partials/youronly.one-body-01-top.html" -}}
      {{ partial "youronly.one-body-01-top.html" . }}
    {{- end }}
  <!-- END: YourOnly.One Body-01-Top -->
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
        <div id="posts-list2">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <!-- <h1 class="site-date-catalog">{{ .Key }}</h1> -->

            {{ range .Pages.ByWeight }}
            <div class="h-entry row posts-line" data-clarity-region="article">
              {{- /* YourOnlyOne: not needed
                <div class="posts-date col-xs-3 col-sm-2">
                  <time datetime="{{ .PublishDate.Format "2006-01-02 15:04:05 MST" }}">{{ .PublishDate.Format "Jan 02"}}</time>
                </div>
              */ -}}
              <div class="posts-title col-xs-9 col-sm-12">
                <div class="row">
                  <div class="p-name col-xs-11 col-sm-10">
                    <a href="{{ .Permalink }}" class="u-url" rel="bookmark">{{ .Title }}</a>
                  </div>
                  <div class="col-xs-1 col-sm-2 posts-categories">
                    {{ range .Params.categories }}
                    <div class="posts-category">
                      <a href="categories/{{ lower . }}/" class="p-category" rel="category tag"><strong>{{ . }}</strong></a>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
  <!-- BGN: YourOnly.One Body-02-Bottom -->
    {{- if templates.Exists "partials/youronly.one-body-02-btm.html" -}}
      {{ partial "youronly.one-body-02-btm.html" . }}
    {{- end }}
  <!-- END: YourOnly.One -02-Bottom -->
</body>

</html>
